<div class="carousel-container">
    <div id="myVideo"></div>
    <div class="overlay-div">
        <div class="overlay-div-container">
            <div class="container">
                <h1 class="overlay-div-header">Basic Info for our wedding</h1>
            </div>
        </div>
    </div>
</div>

<div style="width:100%;background-color:#2e2b2b">
    <div class="parent-container container" style="text-align: center;">
        <div>
            <i class="bi bi-airplane-engines" style="font-size:2.8rem"></i><br>
            <h1 style="font-family: 'Raleway', sans-serif;">{{languageConfig.properties.get('info_flight1_header')}}</h1>
            <div class="fade-in travel-container">
                <div class="container" style="text-align: center;">
                    <div class="row" style="color:grey;font-family: 'Raleway', sans-serif;">
                        <div class="col">
                            <i class="bi bi-calendar-day-fill"></i><br>
                            <span>78</span><br>
                            <span>{{languageConfig.properties.get('info_flight_number')}}</span>
                        </div>
                        <div class="col">
                            <i class="bi bi-stopwatch-fill"></i><br>
                            <span>52min</span><br>
                            <span>{{languageConfig.properties.get('info_flight_duration')}}</span>
                        </div>
                        <div class="col">
                            <i class="bi bi-ticket-perforated-fill"></i><br>
                            <span>€38</span><br>
                            <span>{{languageConfig.properties.get('info_flight_cost')}}</span>
                        </div>
                    </div>
                    <div class="row" style="justify-content: center;">
                        <a class="btn btn-warning"
                            href="https://www.rome2rio.com/map/Athens-Airport-ATH/Heraklion?r2r_campaign=TQ_TP_Transport&source=adwords&gclid=CjwKCAjwseSoBhBXEiwA9iZtxrIrGvpKARAvyC6Pkxds-LXY1llp3WME2PqqaizDOMFe-XuYZs8-2BoCt8MQAvD_BwE#r/Fly/s/0"
                            target="_blank">{{languageConfig.properties.get('info_flight_explore_btn')}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <i class="bi bi-airplane-engines" style="font-size:2.8rem"></i><br>
            <h1 style="font-family: 'Raleway', sans-serif;">{{languageConfig.properties.get('info_flight2_header')}}</h1>
            <div class="fade-in travel-container">
                <div class="container" style="text-align: center;">
                    <div class="row" style="color:grey;font-family: 'Raleway', sans-serif;">
                        <div class="col">
                            <i class="bi bi-calendar-day-fill"></i><br>
                            <span>62</span><br>
                            <span>{{languageConfig.properties.get('info_flight_number')}}</span>
                        </div>
                        <div class="col">
                            <i class="bi bi-stopwatch-fill"></i><br>
                            <span>4hours</span><br>
                            <span>{{languageConfig.properties.get('info_flight_duration')}}</span>
                        </div>
                        <div class="col">
                            <i class="bi bi-ticket-perforated-fill"></i><br>
                            <span>€105</span><br>
                            <span>{{languageConfig.properties.get('info_flight_cost')}}</span>
                        </div>
                    </div>
                    <div class="row" style="justify-content: center;">
                        <a class="btn btn-warning"
                            href="https://www.rome2rio.com/map/Greece/Crete-Greece?r2r_campaign=TQ_TP_Transport&source=adwords&gclid=CjwKCAjwseSoBhBXEiwA9iZtxrIrGvpKARAvyC6Pkxds-LXY1llp3WME2PqqaizDOMFe-XuYZs8-2BoCt8MQAvD_BwE"
                            target="_blank">{{languageConfig.properties.get('info_flight_explore_btn')}}</a>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <div class="parent-container container" style="text-align: center;">
        <i class="bi bi-tsunami" style="font-size:2.8rem"></i><br>
        <h1 style="font-family: 'Raleway', sans-serif;">{{languageConfig.properties.get('info_ferry_header')}}</h1>
        <div class="fade-in travel-container">
            <div class="container" style="text-align: center;">
                <div class="row" style="color:grey;font-family: 'Raleway', sans-serif;">
                    <div class="col">
                        <i class="bi bi-calendar-day-fill"></i><br>
                        <span>24</span><br>
                        <span>{{languageConfig.properties.get('info_ferry_number')}}</span>
                    </div>
                    <div class="col">
                        <i class="bi bi-stopwatch-fill"></i><br>
                        <span>8hours</span><br>
                        <span>{{languageConfig.properties.get('info_ferry_duration')}}</span>
                    </div>
                    <div class="col">
                        <i class="bi bi-ticket-perforated-fill"></i><br>
                        <span>€40</span><br>
                        <span>{{languageConfig.properties.get('info_ferry_cost')}}</span>
                    </div>
                </div>
                <div class="row" style="justify-content: center;">
                    <a class="btn btn-warning" href="https://www.ferryhopper.com/el/" target="_blank">{{languageConfig.properties.get('info_ferry_explore_btn')}}</a>
                </div>
            </div>
        </div>
        <p>
            {{languageConfig.properties.get('info_stay_additional')}}
        </p>
    </div>
</div>

<div style="width:100%;background-color:black">
    <div class="card-container container">
        <div class="container header-container" style="text-align: center;">
            <i class="bi bi-luggage-fill" style="font-size:2.8rem"></i>
            <h1>{{languageConfig.properties.get('info_stay_header')}}</h1>
        </div>
        <div class="container" style="width:100%">
            <div class="row animationContainer">
                <div class="fade-in">
                    <div class="card">
                        <img src="../../assets/img/bali-nostos-hotel.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h1 class="card-title">{{languageConfig.properties.get('info_stay_subheader')}}</h1>
                            <div class="container-hashtags">
                                <a class="card-hashtag" style="background-color: #70ba8e;"
                                    href="https://www.booking.com/searchresults.el.html?ss=%CE%9A%CF%81%CE%AE%CF%84%CE%B7%2C+%CE%95%CE%BB%CE%BB%CE%AC%CE%B4%CE%B1&efdco=1&label=gen173nr-1BCAEoggI46AdIM1gEaFyIAQGYAQi4ARfIAQzYAQHoAQGIAgGoAgO4Ap7A7qgGwAIB0gIkMDNkZDY2MzYtMzJmYS00NWQzLTg0YmMtZGU1NGVjMzVlNDM52AIF4AIB&sid=cd81e473b2ab8ba7c863c556e4d9399e&aid=304142&lang=el&sb=1&src_elem=sb&src=index&dest_id=811&dest_type=region&ac_position=0&ac_click_type=b&ac_langcode=el&ac_suggestion_list_length=3&search_selected=true&search_pageview_id=efda234fc2e003d1&ac_meta=GhBlZmRhMjM0ZmMyZTAwM2QxIAAoATICZWw6BWtyaHRoQABKAFAA&group_adults=2&no_rooms=1&group_children=0&sb_travel_purpose=leisure"
                                    target="_blank">BOOKING</a>
                                <a class="card-hashtag" style="background-color: #dd7299;"
                                    href="https://www.airbnb.gr/s/%CE%9A%CF%81%CE%AE%CF%84%CE%B7--%CE%95%CE%BB%CE%BB%CE%AC%CE%B4%CE%B1/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&monthly_start_date=2023-11-01&monthly_length=3&price_filter_input_type=0&price_filter_num_nights=5&channel=EXPLORE&query=%CE%9A%CF%81%CE%AE%CF%84%CE%B7%2C%20%CE%95%CE%BB%CE%BB%CE%AC%CE%B4%CE%B1&place_id=ChIJoZh9gi_-mhQRMMa54iy9AAE&date_picker_type=calendar&source=structured_search_input_header&search_type=autocomplete_click" target="_blank">AIRBNB</a>
                                <a class="card-hashtag" style="background-color:#43b3ba;"
                                    href="https://www.thinkvilla.gr/"
                                    target="_blank">THINK VILLA</a>
                            </div>
                            <p class="card-text">{{languageConfig.properties.get('info_stay_recommendations')}}</p>
                            <ul class="card-text">
                                <li>{{languageConfig.properties.get('info_stay_place1')}} | 900 m <a href="https://maps.app.goo.gl/NkMfN2otHvF5jqaJ8" target="_blank"><i class="bi bi-car-front-fill"></i></a></li>
                                <li>{{languageConfig.properties.get('info_stay_place4')}} | 3.6 km <a href="https://maps.app.goo.gl/hP8Un2fJQCNSd7iF9" target="_blank"><i class="bi bi-car-front-fill"></i></a></li>
                                <li>{{languageConfig.properties.get('info_stay_place9')}} | 4.5 km <a href="https://maps.app.goo.gl/tdGcV7AR8TnB8nTNA" target="_blank"><i class="bi bi-car-front-fill"></i></a></li>
                                <li>{{languageConfig.properties.get('info_stay_place3')}} | 5 km <a href="https://maps.app.goo.gl/eREbAH6wi7aE9C3n8" target="_blank"><i class="bi bi-car-front-fill"></i></a></li>
                                <li>{{languageConfig.properties.get('info_stay_place2')}} | 7.8 km <a href="https://maps.app.goo.gl/SJxZjvvfKJbMdiev5" target="_blank"><i class="bi bi-car-front-fill"></i></a></li>
                                <li>{{languageConfig.properties.get('info_stay_place6')}} | 10 km <a href="https://maps.app.goo.gl/wZu1R9ofidNFCwcBA" target="_blank"><i class="bi bi-car-front-fill"></i></a></li>
                                <li>{{languageConfig.properties.get('info_stay_place10')}} | 12 km <a href="https://maps.app.goo.gl/h15vKeK63KnbpZqH8" target="_blank"><i class="bi bi-car-front-fill"></i></a></li>
                                <li>{{languageConfig.properties.get('info_stay_place5')}} | 12 km <a href="https://maps.app.goo.gl/PE5fABGDCKj1s23N9" target="_blank"><i class="bi bi-car-front-fill"></i></a></li>
                                <li>{{languageConfig.properties.get('info_stay_place7')}} | 13 km <a href="https://maps.app.goo.gl/yZEX8WgnRoso7tar5" target="_blank"><i class="bi bi-car-front-fill"></i></a></li>
                                <li>{{languageConfig.properties.get('info_stay_place8')}} | 24 km <a href="https://maps.app.goo.gl/e8WKZdpcpeTZuvA98" target="_blank"><i class="bi bi-car-front-fill"></i></a></li>
                            </ul>
                            <div class="row" style="text-align: center; justify-content: center;margin-top:1rem">
                                <button class="btn" style="background-color:var(--white-color)">Click on <i class="bi bi-car-front-fill" style="color:blue"></i> to check on map</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="width:100%;background-color:black">
    <div class="card-container container">
        <div style="text-align: center;">
            <i class="bi bi-shop" style="font-size:2.8rem"></i><br>
            <h1>{{languageConfig.properties.get('info_food_header')}}</h1>
        </div>
        <div id="carouselRestaurants" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="scroll-content">
                    <div class="fade-in scroll-content-header"
                        style="background-image: url(../../assets/img/7-thalasses-seafood-restaurant.jpg);">
                        <div class="row" style="min-width:320px">
                            <div class="col-sm-12 col-md-6" style="background-color: rgb(255, 255, 255,0.5);padding:10px">
                                <h1 style="color:black;">Γαλέρα <span
                                        style="color:rgb(74, 74, 74);font-family: 'Raleway', sans-serif;"> | in Rethymno</span></h1>
                                <a class="btn btn-dark btn-lg" style="font-family: 'Raleway', sans-serif;"
                                    href="https://www.tripadvisor.com.gr/Restaurant_Review-g189421-d7027575-Reviews-Galera-Rethymnon_Rethymnon_Prefecture_Crete.html" target="_blank">EXPLORE</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="scroll-content">
                    <div class="fade-in scroll-content-header"
                        style="background-image: url(../../assets/img/food6.png);">
                        <div class="row" style="min-width:320px">
                            <div class="col-sm-12 col-md-6" style="background-color: rgb(255, 255, 255,0.5);padding:10px">
                                <h1 style="color:black;">Χαρούπι κ Ελιά <span
                                        style="color:rgb(74, 74, 74);font-family: 'Raleway', sans-serif;"> | in Melidoni</span>
                                </h1>
                                <a class="btn btn-dark btn-lg" style="font-family: 'Raleway', sans-serif;"
                                    href="https://www.tripadvisor.com.gr/Restaurant_Review-g1191815-d14062161-Reviews-Carob_N_Olive-Melidoni_Rethymnon_Prefecture_Crete.html"
                                    target="_blank">EXPLORE</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="scroll-content">
                    <div class="fade-in scroll-content-header"
                        style="background-image: url(../../assets/img/food3.png);">
                        <div class="row" style="min-width:320px">
                            <div class="col-sm-12 col-md-6" style="background-color: rgb(255, 255, 255,0.5);padding:10px">
                                <h1 style="color:black;">Κληματαριά <span
                                        style="color:rgb(74, 74, 74);font-family: 'Raleway', sans-serif;"> | in Rethymno</span>
                                </h1>
                                <a class="btn btn-dark btn-lg" style="font-family: 'Raleway', sans-serif;"
                                    href="https://www.tripadvisor.com.gr/Restaurant_Review-g189421-d5566193-Reviews-Taverna_Klimataria-Rethymnon_Rethymnon_Prefecture_Crete.html"
                                    target="_blank">EXPLORE</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="scroll-content">
                    <div class="fade-in scroll-content-header"
                        style="background-image: url(../../assets/img/food4.png);">
                        <div class="row" style="min-width:320px">
                            <div class="col-sm-12 col-md-6" style="background-color: rgb(255, 255, 255,0.5);padding:10px">
                                <h1 style="color:black;">Captains House <span
                                        style="color:rgb(74, 74, 74);font-family: 'Raleway', sans-serif;"> | in Panormo</span>
                                </h1>
                                <a class="btn btn-dark btn-lg" style="font-family: 'Raleway', sans-serif;"
                                    href="https://www.tripadvisor.com.gr/Restaurant_Review-g1177810-d4174039-Reviews-Captain_s_House_Seaside_Restaurant-Panormos_Rethymnon_Prefecture_Crete.html"
                                    target="_blank">EXPLORE</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="scroll-content">
                    <div class="fade-in scroll-content-header"
                        style="background-image: url(../../assets/img/food5.png);">
                        <div class="row" style="min-width:320px">
                            <div class="col-sm-12 col-md-6" style="background-color: rgb(255, 255, 255,0.5);padding:10px">
                                <h1 style="color:black;">Castro Cretan Cuisine <span
                                        style="color:rgb(74, 74, 74);font-family: 'Raleway', sans-serif;"> | in Panormo</span>
                                </h1>
                                <a class="btn btn-dark btn-lg" style="font-family: 'Raleway', sans-serif;"
                                    href="https://e-kastro.gr/"
                                    target="_blank">EXPLORE</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="scroll-content">
                    <div class="fade-in scroll-content-header"
                        style="background-image: url(../../assets/img/food2.png);">
                        <div class="row" style="min-width:320px">
                            <div class="col-sm-12 col-md-6" style="background-color: rgb(255, 255, 255,0.5);padding:10px">
                                <h1 style="color:rgb(0, 0, 0);">Ταβέρνα του Ζήση <span
                                        style="color:rgb(92, 92, 92);font-family: 'Raleway', sans-serif;"> | in Rethymno</span>
                                </h1>
                                <a class="btn btn-dark btn-lg" style="font-family: 'Raleway', sans-serif;"
                                    href="https://www.tripadvisor.com.gr/Restaurant_Review-g189421-d1103009-Reviews-Taverna_tou_Zisis-Rethymnon_Rethymnon_Prefecture_Crete.html"
                                    target="_blank">EXPLORE</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="scroll-content">
                    <div class="fade-in scroll-content-header"
                        style="background-image: url(../../assets/img/food7.png);">
                        <div class="row" style="min-width:320px">
                            <div class="col-sm-12 col-md-6" style="background-color: rgb(255, 255, 255,0.5);padding:10px">
                                <h1 style="color:black;">Καραβοστάσι <span
                                        style="color:rgb(74, 74, 74);font-family: 'Raleway', sans-serif;"> | in Mpali</span>
                                </h1>
                                <a class="btn btn-dark btn-lg" style="font-family: 'Raleway', sans-serif;"
                                    href="https://www.tripadvisor.com.gr/Restaurant_Review-g1177043-d4473293-Reviews-Taverna_Karavostasi-Bali_Rethymnon_Prefecture_Crete.html"
                                    target="_blank">EXPLORE</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="scroll-content">
                    <div class="fade-in scroll-content-header"
                        style="background-image: url(../../assets/img/food8.png);">
                        <div class="row" style="min-width:320px">
                            <div class="col-sm-12 col-md-6" style="background-color: rgb(255, 255, 255,0.5);padding:10px">
                                <h1 style="color:black;">Λιβάδι <span
                                        style="color:rgb(74, 74, 74);font-family: 'Raleway', sans-serif;"> | in Mpali</span>
                                </h1>
                                <a class="btn btn-dark btn-lg" style="font-family: 'Raleway', sans-serif;"
                                    href="https://www.tripadvisor.com.gr/Restaurant_Review-g1177043-d10300254-Reviews-Taverna_Livadi-Bali_Rethymnon_Prefecture_Crete.html"
                                    target="_blank">EXPLORE</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="scroll-content">
                    <div class="fade-in scroll-content-header"
                        style="background-image: url(../../assets/img/food9.png);">
                        <div class="row" style="min-width:320px">
                            <div class="col-sm-12 col-md-6" style="background-color: rgb(255, 255, 255,0.5);padding:10px">
                                <h1 style="color:black;">Αροδαμός <span
                                        style="color:rgb(74, 74, 74);font-family: 'Raleway', sans-serif;"> | in Anogia</span>
                                </h1>
                                <a class="btn btn-dark btn-lg" style="font-family: 'Raleway', sans-serif;"
                                    href="https://www.tripadvisor.com.gr/Restaurant_Review-g1010310-d2181704-Reviews-Arodamos-Anogia_Rethymnon_Prefecture_Crete.html"
                                    target="_blank">EXPLORE</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselRestaurants" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselRestaurants" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div style="width:100%;background-color:black">
    <div class="card-container container">
        <div style="text-align: center;">
            <i class="bi bi-cup-straw" style="font-size:2.8rem"></i>
            <h1>{{languageConfig.properties.get('info_visit_header')}}</h1>
        </div>
        <div id="carouselCafeBars" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="scroll-content">
                    <div class="fade-in scroll-content-header"
                        style="background-image: url(../../assets/img/cafe1.png);">
                        <div class="row" style="min-width:320px">
                            <div class="col-sm-12 col-md-6" style="background-color: rgb(255, 255, 255,0.5);padding:10px">
                                <h1 style="color:black;">LUX Cafe <span
                                        style="color:rgb(74, 74, 74);font-family: 'Raleway', sans-serif;"> | in Rethymno</span></h1>
                                <a class="btn btn-dark btn-lg" style="font-family: 'Raleway', sans-serif;"
                                    href="https://www.tripadvisor.com.gr/Attraction_Review-g189421-d8726224-Reviews-LUX_Cafe_Rethymno-Rethymnon_Rethymnon_Prefecture_Crete.html" target="_blank">EXPLORE</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="scroll-content">
                    <div class="fade-in scroll-content-header"
                        style="background-image: url(../../assets/img/cafe2.png);">
                        <div class="row" style="min-width:320px">
                            <div class="col-sm-12 col-md-6" style="background-color: rgb(255, 255, 255,0.5);padding:10px">
                                <h1 style="color:rgb(0, 0, 0);">Fraoules <span
                                        style="color:rgb(92, 92, 92);font-family: 'Raleway', sans-serif;"> | in Rethymno</span>
                                </h1>
                                <a class="btn btn-dark btn-lg" style="font-family: 'Raleway', sans-serif;"
                                    href="https://www.tripadvisor.com.gr/Restaurant_Review-g189421-d4580210-Reviews-Fraoules-Rethymnon_Rethymnon_Prefecture_Crete.html"
                                    target="_blank">EXPLORE</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="scroll-content">
                    <div class="fade-in scroll-content-header"
                        style="background-image: url(../../assets/img/cafe3.png);">
                        <div class="row" style="min-width:320px">
                            <div class="col-sm-12 col-md-6" style="background-color: rgb(255, 255, 255,0.5);padding:10px">
                                <h1 style="color:black;">Living Room <span
                                        style="color:rgb(74, 74, 74);font-family: 'Raleway', sans-serif;"> | Gastrobar</span>
                                </h1>
                                <a class="btn btn-dark btn-lg" style="font-family: 'Raleway', sans-serif;"
                                    href="https://www.tripadvisor.com.gr/Restaurant_Review-g189421-d4753854-Reviews-LivingRoom_GastroBar-Rethymnon_Rethymnon_Prefecture_Crete.html"
                                    target="_blank">EXPLORE</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="scroll-content">
                    <div class="fade-in scroll-content-header"
                        style="background-image: url(../../assets/img/cafe4.png);">
                        <div class="row" style="min-width:320px">
                            <div class="col-sm-12 col-md-6" style="background-color: rgb(255, 255, 255,0.5);padding:10px">
                                <h1 style="color:black;">Mambo Beach Bar<span
                                        style="color:rgb(74, 74, 74);font-family: 'Raleway', sans-serif;"> | in Rethymno</span>
                                </h1>
                                <a class="btn btn-dark btn-lg" style="font-family: 'Raleway', sans-serif;"
                                    href="https://www.tripadvisor.com.gr/Restaurant_Review-g1177043-d10687508-Reviews-Mambo_Beach_Bar-Bali_Rethymnon_Prefecture_Crete.html"
                                    target="_blank">EXPLORE</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="scroll-content">
                    <div class="fade-in scroll-content-header"
                        style="background-image: url(../../assets/img/cafe5.png);">
                        <div class="row" style="min-width:320px">
                            <div class="col-sm-12 col-md-6" style="background-color: rgb(255, 255, 255,0.5);padding:10px">
                                <h1 style="color:black;">Vinzi Cafe <span
                                        style="color:rgb(74, 74, 74);font-family: 'Raleway', sans-serif;"> | Coctail Bar</span>
                                </h1>
                                <a class="btn btn-dark btn-lg" style="font-family: 'Raleway', sans-serif;"
                                    href="https://www.tripadvisor.com.gr/Restaurant_Review-g1177810-d4273294-Reviews-Vinzi_Cafe_Cocktail_Bar-Panormos_Rethymnon_Prefecture_Crete.html"
                                    target="_blank">EXPLORE</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCafeBars" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselCafeBars" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div style="width:100%;background-color:black">
    <div class="card-container container">
        <div style="text-align: center;">
            <i class="bi bi-tsunami" style="font-size:2.8rem"></i>
            <h1>{{languageConfig.properties.get('info_beach_header')}}</h1>
        </div>
        <div class="scroll-container">
            <div class="scroll-content">
                <div class="fade-in scroll-content-header">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6503.81118225216!2d24.77954784911842!3d35.40759059070705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x149ba9359d221fc7%3A0xa8c5ae2d8eac0ef9!2zzqDOsc-BzrHOu86vzrEgzpvOuc6yzqzOtM65!5e0!3m2!1sel!2sgr!4v1704658677487!5m2!1sel!2sgr" width="100%" height="380" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="scroll-content">
                <div class="fade-in scroll-content-header">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3085.795790748693!2d20.285018427074995!3d39.338211971633385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135c87b3cab1cfad%3A0xdf9001ca2b0f947f!2zzqDOsc-BzrHOu86vzrEgzprOsc-BzrHOss6_z4PPhM6sz4POuQ!5e0!3m2!1sel!2sgr!4v1704658784595!5m2!1sel!2sgr" width="100%" height="380" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="scroll-content">
                <div class="fade-in scroll-content-header">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6503.569968671585!2d24.7775718491188!3d35.41057979070327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x149ba9352aff352f%3A0xd53d837908e4e529!2sVarkotopos!5e0!3m2!1sel!2sgr!4v1704658849153!5m2!1sel!2sgr" width="100%" height="380" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="scroll-content">
                <div class="fade-in scroll-content-header">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6503.293275899203!2d24.64037594911917!3d35.414008390698534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x149ba6e99ba0b23d%3A0x7b8bd229cf7fae63!2zzqDOsc-BzrHOu86vzrEgzpPOtc-Bzr_PgM-Mz4TOsc68zr_Pgg!5e0!3m2!1sel!2sgr!4v1704658899950!5m2!1sel!2sgr" width="100%" height="380" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="width:100%;background-color:black">
    <div class="card-container container">
        <div class="phones-ext-div">
            <div class="phones-int-div">
                <i class="bi bi-telephone-outbound" style="font-size:2.8rem"></i>
                <h4>{{languageConfig.properties.get('info_stay_useful_phones')}}</h4>
                <div style="margin-top:20px">
                    <a class="btn btn-warning btn-phone" [href]="'tel: 2834340000'"><i class="bi bi-telephone-forward-fill" style="padding-right:4px"></i>{{languageConfig.properties.get('info_stay_useful_phones1')}}</a><br>
                    <a class="btn btn-warning btn-phone" [href]="'tel: 2834031208'"><i class="bi bi-telephone-forward-fill" style="padding-right:4px"></i>{{languageConfig.properties.get('info_stay_useful_phones2')}}</a><br>
                    <a class="btn btn-warning btn-phone" [href]="'tel: 2831342100'"><i class="bi bi-telephone-forward-fill" style="padding-right:4px"></i>{{languageConfig.properties.get('info_stay_useful_phones3')}}</a><br>
                    <a class="btn btn-warning btn-phone" [href]="'tel: 28340022349'"><i class="bi bi-telephone-forward-fill" style="padding-right:4px"></i>{{languageConfig.properties.get('info_stay_useful_phones4')}}</a><br>
                    <a class="btn btn-warning btn-phone" [href]="'tel: 2831088173'"><i class="bi bi-telephone-forward-fill" style="padding-right:4px"></i>{{languageConfig.properties.get('info_stay_useful_phones5')}}</a><br>
                    <a class="btn btn-warning btn-phone" [href]="'tel: 2834023199'"><i class="bi bi-telephone-forward-fill" style="padding-right:4px"></i>{{languageConfig.properties.get('info_stay_useful_phones6')}}</a><br>
                    <a class="btn btn-warning btn-phone" [href]="'tel: 2831022222'"><i class="bi bi-telephone-forward-fill" style="padding-right:4px"></i>{{languageConfig.properties.get('info_stay_useful_phones7')}}</a>
                </div>
            </div>
        </div>
    </div>
</div>