<div [hidden]="!userLoggedIn" style="width:100%;padding:10px 0px 0px 0px;background-color: black; text-align:center;font-size:2.8rem; color:#dec89d;font-style: italic;" id="homeHeader">
  <h2 style="font-family:'Parisienne', cursive;font-size:1rem">24 August 2024</h2>
  <h1 style="font-family:'Parisienne', cursive;font-size:2.6rem" id="topHeaderBanner">Thodoris & Marilena</h1>
</div>

<div class="container" [hidden]="!userLoggedIn">
  <app-header></app-header>
</div>
<router-outlet></router-outlet>
<div class="container">
  <app-footer></app-footer>
</div>

<audio controls loop volume="0.5" muted #audio style="visibility: hidden">
  <source src="../assets/audio/wedding_theme.mp3" type="audio/mpeg">
</audio>

<button #button style="visibility: hidden"></button>