/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Lato&family=Poppins:wght@500&family=Raleway&family=Roboto:wght@100;400&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Lato&family=Major+Mono+Display&family=Poppins:wght@500&family=Raleway&family=Roboto:wght@100;400&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Lato&family=Major+Mono+Display&family=Manrope&family=Poppins:wght@500&family=Raleway&family=Roboto:wght@100;400&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Lato&family=Major+Mono+Display&family=Manrope&family=Parisienne&family=Poppins:wght@500&family=Raleway&family=Roboto:wght@100;400&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Exo+2:wght@500&family=Lato&family=Major+Mono+Display&family=Manrope&family=Parisienne&family=Poppins:wght@500&family=Raleway&family=Roboto:wght@100;400&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');

@font-face {
    font-family: 'WeddingCaligraphic';
    src: url('assets/fonts/wedding-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
};

@font-face {
    font-family: 'RobotoBlack';
    src: url('assets/fonts/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
};

@font-face {
    font-family: 'RobotoRegular';
    src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
};

@font-face {
    font-family: 'RobotoBold';
    src: url('assets/fonts/Roboto-Bold.ttf');
};

@font-face {
    font-family: 'AeonikProRegular';
    src: url('assets/fonts/AeonikProTRIAL-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
};

body{
    background-color:#cdcdcd!important;
}

body{
    background-color: #000000!important;
}