.container-coupleInfo{
    background-color: var(--dark-color);
    text-align:center;
    padding-top:40px;
    padding-bottom:40px;
    margin-top:20px;
}

.container-details{
    text-align:center;
    padding-top:0px;
    padding-bottom:40px;
}

.couple-info-mainHeader{
    padding-bottom:10px;
    font-family: var(--ff-secondary);
    color:#e1d3b7;
}