.fullscreen{
  height: 100%;
  margin: 0px;
  position: fixed;
}

.bg {
    background-image: linear-gradient(rgba(189, 187, 187, 0.5), rgba(255, 255, 255, 0.5)), url("../../assets/img/home.carousel.background.3.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inner {
    position: absolute;
  }
  
  .carousel-container {
    position: relative;
  }
  
  .overlay-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .overlay-div-container {
    width: 100%;
    margin-top: 25%;
    text-align: center;
  }
  
  .overlay-div-header {
    font-family: 'WeddingCaligraphic';
    font-size: 4rem;
    color: var(--white-color);
  }
  
  .overlay-div-sub-header {
    margin-top: 2rem;
    padding-top: 1rem;
    color: white;
    font-family: 'Raleway', sans-serif;
  }
  
  .overlay-div-sub-header-day {
    font-size: 2.4rem;
    font-family: 'Major Mono Display', monospace;
  }
  
  .overlay-div-day-header {
    border: 0.4rem solid white;
  }

.error-container {
    padding: 20px;
    border: 1px solid #e1b7b7;
    border-radius: 4px;
    background-color: #ffe2e7;
}



/* Animations */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    grid-column: 2 / 3;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.from-right {
    grid-column: 3 / 4;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}

.from-left,
.from-right {
    transition: opacity 400ms ease-in, -webkit-transform 800ms ease-in;
    transition: opacity 400ms ease-in, transform 800ms ease-in;
    transition: opacity 400ms ease-in, transform 800ms ease-in,
        -webkit-transform 800ms ease-in;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}