<div class="container" [hidden]="!isLoading">
    <ngx-spinner bdColor="rgba(0, 0, 0, 1)" size="medium" color="var(--white-color)" type="square-jelly-box" [fullScreen]="true" [showSpinner]="true">
        <h1 style="color: var(--white-color);font-family: 'Raleway', sans-serif;"> Loading... </h1>
    </ngx-spinner>
  </div>
<div class="bg" [hidden]="isLoading">
    <div class="carousel-container">
        <div class="overlay-div">
            <div class="overlay-div-container">
                <div class="container">
                    <h1 class="overlay-div-header">Say you will be there</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container gift-header">
    <h4>{{languageConfig.properties.get('gift_page_header')}}</h4>
</div>
<div class="container iban-info">
    <div class="iban-card">
        <img src="../../assets/img/nbg_bank.jpg" class="iban-img">
        <h4>GR1901103730000037367551357</h4>
        <h4>Thodoris</h4>
        <button class="btn btn-primary" [cdkCopyToClipboard]="'GR1901103730000037367551357'"><i class="bi bi-copy"></i> {{languageConfig.properties.get('gift_page_copy_btn')}}</button>
    </div>
    <div class="iban-card">
        <img src="../../assets/img/piraeus.png" class="iban-img">
        <h4>GR7401716310006631144237171</h4>
        <h4>Marilena</h4>
        <button class="btn btn-primary" [cdkCopyToClipboard]="'GR7401716310006631144237171'"><i class="bi bi-copy"></i> {{languageConfig.properties.get('gift_page_copy_btn')}}</button>
    </div>
</div>