<div class="container" [hidden]="!loading">
    <ngx-spinner bdColor="rgba(0, 0, 0, 1)" size="medium" color="var(--white-color)" type="square-jelly-box" [fullScreen]="true"
        [showSpinner]="true">
        <h1 style="color: var(--white-color);font-family: 'Raleway', sans-serif;"> Loading... </h1>
    </ngx-spinner>
</div>

<div [hidden]="loading">

    <div class="container" style="margin-bottom:40px">
        <div class="row">
            <div class="col">
                <div class="card couple-card fade-in">
                    <img src="../../assets/img/couple_home.jpg" class="card-img-top" alt="..." >
                    <div class="card-body" style="text-align:center">
                        <div class="card-body">
                            <h5 class="card-title">{{languageConfig.properties.get('wedding_page_header')}}</h5>
                        </div>
                        <p>
                            {{languageConfig.properties.get('wedding_page_par')}}
                        </p>
                        <div class="card-body">
                            <h5 class="card-title">{{languageConfig.properties.get('wedding_page_subheader1')}}</h5>
                        </div>
                        <p>
                            {{languageConfig.properties.get('wedding_page_text1a')}} <span style="font-family:'Courier New', Courier, monospace">&</span> {{languageConfig.properties.get('wedding_page_text1b')}}
                        </p>
                        <p>
                            {{languageConfig.properties.get('wedding_page_text2a')}} <span style="font-family:'Courier New', Courier, monospace">&</span> {{languageConfig.properties.get('wedding_page_text2b')}}
                        </p>
                        <div class="card-body">
                            <h5 class="card-title">{{languageConfig.properties.get('wedding_page_text3')}}</h5>
                        </div>
                        <p>
                            <span>{{languageConfig.properties.get('wedding_page_text4')}}</span><br>
                            <span>{{languageConfig.properties.get('wedding_page_text5')}}</span><br>
                            <span>{{languageConfig.properties.get('wedding_page_text6')}}</span>
                        </p>
                        <div style="margin-top:60px">
                            <p style="margin-bottom:0px">
                                {{languageConfig.properties.get('wedding_page_bottom_txt')}}
                            </p>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <div class="map-container">
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3251.8205644218538!2d24.723175777315248!3d35.40969797267617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x149ba98e8719d979%3A0x6ddab9635e7b452e!2zzqPOus61z4DOsc-Dz4TOtyBBcmVuYQ!5e0!3m2!1sel!2sgr!4v1704648741630!5m2!1sel!2sgr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <div class="carousel-container fade-in">
        <div style="padding:20px">
            <div id="homeHeaderCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
                <img src="../../assets/img/home.carousel.backround-vertical4.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <div class="overlay-div">
            <div class="overlay-div-container">
                <div class="container">
                    <h1 style="color:rgb(9, 9, 9);font-family: 'EB Garamond', serif; font-style:italic">{{languageConfig.properties.get('wedding_page_text7a')}}</h1>
                    <h1 style="color:rgb(0, 0, 0);font-family: 'EB Garamond', serif; font-style:italic">{{languageConfig.properties.get('wedding_page_text7b')}} <span style="font-family:'Courier New', Courier, monospace">&</span> {{languageConfig.properties.get('wedding_page_text7c')}}</h1>
                </div>
                <div class="container overlay-div-sub-header">
                    <div class="overlay-div-day-header">
                        <h4 style="font-style:italic;color:black">{{languageConfig.properties.get('wedding_page_text7d')}}</h4>
                        <h4 style="font-style:italic;color:black">{{languageConfig.properties.get('wedding_page_text7e')}}</h4>
                    </div>
                    <div class="row" style="text-align: center; justify-content: center;margin-top:1rem">
                        <a class="btn" href="https://maps.app.goo.gl/jBAm1GY2APRmNy2z6" target="_blank" style="width:50%;background-color:var(--white-color)">{{languageConfig.properties.get('home_info_btn_map')}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
