.gold-fab {
  background-color: rgb(162, 151, 85);
  /* Change to the gold color you desire */
  color: #fff;
  /* Text color (usually white) for contrast */
}

.nav-link{
  color:white;
}

.languageContainer{
  text-align: right;
  margin-top:2.1rem
}

.navbar-toggler{
  background-color: #282828;
}

@media screen and (max-width: 1000px) {
  .languageContainer{
    text-align: right;
    margin-top:2.0rem
  }
}

@media sreen and (max-width:800px){
  .navbar-brand{
    display: none;
  }
}


.fixed-top-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
}

.fixed-bottom-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  padding-left:20px;
  padding-bottom:20px;
}

@media (max-width: 800px) {
  .fixed-top-navbar {
    display: none;
  }
  .fixed-bottom-navbar {
    display: block;
  }
}

@media (min-width: 801px) {
  .fixed-top-navbar {
    display: block;
  }
  .fixed-bottom-navbar {
    display: none;
  }
}

.flicker-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  animation: glowing 2000ms infinite;
  transition: box-shadow 1s ease-in-out;
  box-shadow: 0 0 20px rgba(52, 152, 219, 0.8);
}

@keyframes glowing {
  0% {
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.8);
  }
  50% {
    background-color: white;
    box-shadow: 0 0 28px rgba(52, 152, 219, 0.8);
  }
  100% {
    background-color: white;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.8);
  }
}

@keyframes flicker {
  0%, 24.999%, 27%, 67.999%, 69%, 69.999%, 75%, 100% {
    opacity: 1;
  }
  25%, 26.999%, 70%, 74.999%, 76%, 80.999% {
    opacity: 0.2;
  }
}