<div class="container" [hidden]="!isLoading">
    <ngx-spinner bdColor="rgba(0, 0, 0, 1)" size="medium" color="var(--white-color)" type="square-jelly-box" [fullScreen]="true" [showSpinner]="true">
        <h1 style="color: var(--white-color);font-family: 'Raleway', sans-serif;"> Loading... </h1>
    </ngx-spinner>
  </div>
<div class="bg" [hidden]="isLoading">
    <div class="carousel-container">
        <div class="overlay-div">
            <div class="overlay-div-container">
                <div class="container">
                    <h1 class="overlay-div-header">Contact Us</h1>
                </div>
                <div class="container overlay-div-sub-header">
                    <h3>{{languageConfig.properties.get('contact_header')}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top:40px">
        <form [formGroup]="rsvpForm" (ngSubmit)="onSubmit()" style="text-align:left;">
            <div [ngStyle]="{'opacity':isLoading ? '0.5' : '1' }">
                <div>
                    <div style="margin-bottom:20px">
                        <input id="submitterName" name="submitterName" formControlName="submitterName"
                            placeholder="{{languageConfig.properties.get('contact_firstname')}}" class="form-control">
                    </div>
                    <div style="margin-bottom:20px">
                        <input id="submitterSurname" name="submitterSurname" formControlName="submitterSurname"
                            placeholder="{{languageConfig.properties.get('contact_lastname')}}" class="form-control">
                    </div>
                    <div style="margin-bottom:20px">
                        <input id="phone" name="phone" formControlName="phone"
                            placeholder="{{languageConfig.properties.get('contact_phone')}}" class="form-control">
                    </div>
                    <div style="margin-bottom:20px">
                        <input id="email" name="email" formControlName="email"
                            placeholder="{{languageConfig.properties.get('contact_email')}}" class="form-control" type="email">
                    </div>
                    <div style="margin-bottom:20px">
                        <textarea id="comments" name="comments" formControlName="comments"
                            placeholder="{{languageConfig.properties.get('contact_comments')}}" class="form-control" rows="6"></textarea>
                    </div>
                </div>
            </div>
    
            <div class="form-inline" style="padding:20px 0px;text-align: center;">
                <button class="btn btn-lg btn-success" type="submit" style="margin-right:5px;width:100%;max-width:800px"
                    [disabled]="isLoading || !rsvpForm.valid"><i class="bi bi-envelope-open-heart" style="padding-right:8px"></i>{{languageConfig.properties.get('contact_submit')}}</button>
            </div>
    
            <div class="form-inline" style="padding:40px 0px;" [hidden]="!isLoading">
                <div class="spinner-border text-primary" role="status">
                </div>
                <div>
                    <h4 style="padding-left:20px;color:rgb(23, 23, 23)">{{languageConfig.properties.get('contact_submitting')}}</h4>
                </div>
            </div>
    
            <div class="form-inline errorMsg" [hidden]="errorMessage.length===0">
                <div class=error-container>
                    <span style="padding-left:20px;color:rgb(224, 32, 32)"><i class="bi bi-emoji-frown"
                            style="padding-right:4px"></i>{{errorMessage}}</span>
                </div>
            </div>
    
        </form>
    </div>
    <div class="overlay-div hor-center">
        <div class="container overlay-div-sub-header">
            <div class="container overlay-div-sub-header">
                <i class="bi bi-person-bounding-box" style="font-size:2.8rem"></i>
                <h4>{{languageConfig.properties.get('contact_callus')}}</h4>
            </div>
        </div>
    </div>

    <div class="container" style="background-color: var(--dark-color);">
        <div class="row">
            <div class="col col-sm-6">
                <div class="card fade-in" style="border:2px solid #e3bc60;">
                    <div class="card-body icons">
                      <h5 class="card-title" style="font-family:WeddingCaligraphic">Thodoris</h5>
                    </div>
                    <div class="card-body icons">
                        <a [href]="'tel: 6976033107'"><i class="bi bi-telephone-outbound"></i></a>
                        <a href="https://m.me/teo.s.4"><i class="bi bi-messenger"></i></a>
                        <a href="https://www.instagram.com/thodoris_siapakas?igsh=MzFoZ3Rua3ZnanZm"><i class="bi bi-instagram"></i></a>
                        <a [href]="'viber://contact?number=%2B306976033107'"><i class="bi bi-whatsapp"></i></a>
                    </div>
                  </div>
            </div>
            <div class="col col-sm-6">
                <div class="card fade-in" style="border:2px solid #e3bc60;">
                    <div class="card-body icons">
                      <h5 class="card-title" style="font-family:WeddingCaligraphic">Marilena</h5>
                    </div>
                    <div class="card-body icons">
                        <a [href]="'tel: 6975123158'"><i class="bi bi-telephone-outbound"></i></a>
                        <a href="https://m.me/marilena.koinakh"><i class="bi bi-messenger"></i></a>
                        <a href="https://www.instagram.com/marilena_koinaki?igsh=MTE1Z3dtbDdxb2J1bA=="><i class="bi bi-instagram"></i></a>
                        <a [href]="'viber://contact?number=%2B306975123158'"><i class="bi bi-whatsapp"></i></a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>