<div class="container" style="background-color: #383838;">
    <div class="coupleInfo-mainHeader">
        <h3 style=" font-family: 'Raleway', sans-serif;">{{languageConfig.properties.get('home_cpl_header')}}</h3>
        <span>{{languageConfig.properties.get('home_cpl_subheader')}}</span>
        <p style="font-size:2rem;color:gray">
          <i class="bi bi-rainbow"></i>
        </p>
    </div>
    <div class="row">
        <div class="col">
            <div class="card couple-card slide-in from-left">
                <img src="../../assets/img/couple-info-groom.jpg" class="card-img-top" alt="..." >
                <div class="card-body">
                  <h5 class="card-title" style="font-family:WeddingCaligraphic">Thodoris</h5>
                  <p class="card-text">{{languageConfig.properties.get('home_cpl_groom')}}</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card couple-card slide-in from-right">
                <img src="../../assets/img/couple-info-bride.jpg" class="card-img-top" alt="..." >
                <div class="card-body">
                  <h5 class="card-title" style="font-family:WeddingCaligraphic">Marilena</h5>
                  <p class="card-text">{{languageConfig.properties.get('home_cpl_pride')}}</p>
                </div>
              </div>
        </div>
    </div>
</div>
