.container-footer{
    width:100%;
    text-align:center;
    padding-top:60px;
    padding-bottom:60px;
}

.container-footer p{
    font-family: 'Roboto', sans-serif;
    color:rgb(151, 151, 151);
    font-size:0.8rem
}