<div class="carousel-container">
    <div>
        <div id="homeHeaderCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/img/rsvp.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
    <div class="overlay-div">
        <div class="overlay-div-container">
            <div class="container">
                <h1 class="overlay-div-header">Thank you</h1>
            </div>
            <div class="container overlay-div-sub-header">
                <h3 style="font-family: 'Raleway', sans-serif;">{{languageConfig.properties.get('thankyou_banner_positive')}}</h3>
            </div>
        </div>
    </div>
</div>