<div class="container">
    <div class="row">
        <div class="col">
            <a href="/wedding" style="text-decoration:none"><h3 style="font-family: 'Roboto', sans-serif;color:rgb(171, 109, 64);">CEREMONY</h3></a>
            <br>
            <a href="https://maps.app.goo.gl/P8xvvCH76dtMMmxj8" target="_blank" style="color:black;text-decoration:none"><strong>Skepasti Arena</strong></a><br>
            <span>19:30 - 20:30</span><br>
            <span>Panormos | Crete</span><br>
            <span>ΕΟ Rethimnou Irakliou, Skepasti 74052</span>
        </div>
        <div class="col">
            <a href="/wedding" style="text-decoration:none"><h3 style="font-family: 'Roboto', sans-serif;color:rgb(171, 109, 64);">PARTY</h3></a>
            <br>
            <a href="https://maps.app.goo.gl/P8xvvCH76dtMMmxj8" target="_blank" style="color:black;text-decoration:none"><strong>Skepasti Arena</strong></a><br>
            <span>20:30 - Late</span><br>
            <span>Panormos | Crete</span><br>
            <span>ΕΟ Rethimnou Irakliou, Skepasti 74052</span>
        </div>
    </div>
</div>