<div class="count-down-timer">
  <p>{{languageConfig.properties.get('home_ctr_label')}}</p>
  <div class="wrapper">
    <div class="description">
      <p>{{languageConfig.properties.get('home_ctr_days')}}</p>
      <p>{{languageConfig.properties.get('home_ctr_hours')}}</p>
      <p>{{languageConfig.properties.get('home_ctr_mins')}}</p>
      <p>{{languageConfig.properties.get('home_ctr_sec')}}</p>
    </div>
    <div class="times">
      <p #days></p>
      <p #hours></p>
      <p #minutes></p>
      <p #seconds></p>
    </div>
  </div>
</div>
<div style="margin-top:20px">
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"  aria-valuemin="0" aria-valuemax="100" [style.width.%]="percentage" style="background-color: #5d5c65;"></div>
  </div>
</div>