<div class="container" [hidden]="!loading">
    <ngx-spinner bdColor="rgba(0, 0, 0, 1)" size="medium" color="#f5d15a" type="square-jelly-box" [fullScreen]="true"
        [showSpinner]="true">
        <h1 style="color: #f5d15a;font-family: 'Raleway', sans-serif;"> Loading... </h1>
    </ngx-spinner>
</div>

<div [hidden]="loading">
    <div class="row fade-in">
        <img src="../../assets/img/crete-night.jpg">
    </div>

    <div class="parent-container">

        <div class="container header-container">
            <div>
                <h1>Crete simply has it all!</h1>
                <p style="color:#fce389">
                    We invite you to join us for our wedding celebration in the beautiful location of our dreams, where
                    you can combine our special day with a memorable vacation experience
                </p>
                <p>
                    Crete is the largest island in Greece, and the fifth largest one in the Mediterranean Sea. Here, you
                    can
                    admire the remnants of brilliant civilizations, explore glorious beaches, impressive mountainscapes,
                    fertile
                    valleys and steep gorges, and become part of the island’s rich gastronomic culture. Crete is, after
                    all,
                    a
                    small universe teeming with beauties and treasures that you will probably need a lifetime to
                    uncover!
                </p>

            </div>

            <div class="container" style="text-align: center;padding-top:10px">
                <div class="row">
                    <div class="col-sm-12 col-md-6" style="text-align:left">

                        <div class="flex-div-container">
                            <div style="width:30%">
                                <img src="../../assets/img/inner_icons_trixroma_faistos.svg"
                                    style="max-width:200px;max-height: 200px;">
                            </div>
                            <div class="flex-child-container">
                                <span>MINOAN CIVILIZATION</span>
                            </div>
                        </div>

                        <div class="flex-div-container">
                            <div style="width:30%">
                                <img src="../../assets/img/inner_icons_trixroma_gorges.svg"
                                    style="max-width:200px;max-height: 200px;">
                            </div>
                            <div class="flex-child-container">
                                <span style="font-family: 'Tilt Prism', cursive;font-size:3.8rem">36</span><br>
                                <span>GORGES</span>
                            </div>
                        </div>

                        <div style="display:flex;justify-content: center;align-items: center;">
                            <div style="width:30%">
                                <img src="../../assets/img/inner_icons_trixroma_paths.svg"
                                    style="max-width:200px;max-height: 200px;">
                            </div>
                            <div class="flex-child-container">
                                <span>TRAILS</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-6">
                        <img src="../../assets/img/crete_dark_map.png" class="d-block w-100" style="max-width:600px"
                            alt="...">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card-container">
        <div class="container header-container" style="text-align: center;">
            <h1>Where to go...</h1>
        </div>
        <div class="container" style="width:100%">
            <div class="row animationContainer">
                <div class="col-md-6 col-sm-12 col-lg-6 slide-in from-left">
                    <div class="card">
                        <img src="../../assets/img/crete_chania.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h1 class="card-title">Chania</h1>
                            <div class="container-hashtags">
                                <a class="card-hashtag" style="background-color: #c98066;"
                                    href="https://www.visitgreece.gr/experiences/?Category=Culture&Destination=Chania"
                                    target="_blank">CULTURE</a>
                                <a class="card-hashtag" style="background-color: #70ba8e;"
                                    href="https://www.visitgreece.gr/experiences/?Category=Nature&Destination=Chania"
                                    target="_blank">NATURE</a>
                                <a class="card-hashtag" style="background-color: #dd7299;"
                                    href="https://www.visitgreece.gr/experiences/?Category=Gastronomy&Destination=Chania"
                                    target="_blank">GASTRONOMY</a>
                            </div>
                            <p class="card-text">Chania (also spelled Hania) is the capital city, a place where
                                different
                                civilizations have flourished throughout the centuries. Strolling around the Old Town’s
                                maze-like alleys with the beautiful Venetian mansions, the fountains and the churches
                                will
                                guide you through well-preserved historical monuments.</p>
                            <a href="https://www.visitgreece.gr/islands/crete/chania/" target="_blank"
                                class="btn btn-info" style="border-radius: 20px;">EXPLORE</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-6 animated slide-in from-right">
                    <div class="card">
                        <img src="../../assets/img/crete_rethymno.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h1 class="card-title">Rethymno</h1>
                            <div class="container-hashtags">
                                <a class="card-hashtag" style="background-color:#43b3ba;"
                                    href="https://www.visitgreece.gr/experiences/?Category=Leisure&Destination=Rethymno"
                                    target="_blank">LEISURE</a>
                                <a class="card-hashtag" style="background-color: #70ba8e;"
                                    href="https://www.visitgreece.gr/experiences/?Category=Nature&Destination=Rethymno"
                                    target="_blank">NATURE</a>
                                <a class="card-hashtag" style="background-color: #c98066;"
                                    hreft="https://www.visitgreece.gr/experiences/?Category=Culture&Destination=Rethymno"
                                    target="_blank">CULTURE</a>
                            </div>
                            <p class="card-text">Rethymno is located in the north end of the prefecture, built by the
                                sea
                                and is a city with many faces. Rethymno or Rithymna as it was once called has been
                                inhabited
                                since the Later Minoan III period. Nowadays, it keeps the elements inherited by its
                                history
                                (from antiquity up to now), preserving at the</p>
                            <a href="https://www.visitgreece.gr/islands/crete/rethymno/" target="_blank"
                                class="btn btn-info" style="border-radius: 20px;">EXPLORE</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-6 animated slide-in from-left">
                    <div class="card">
                        <img src="../../assets/img/crete_herakion.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h1 class="card-title">Heraklion</h1>
                            <div class="container-hashtags">
                                <a class="card-hashtag" style="background-color: #c98066;"
                                    href="https://www.visitgreece.gr/experiences/?Category=Culture&Destination=Heraklion"
                                    target="_blank">CULTURE</a>
                                <a class="card-hashtag" style="background-color: #dd7299;"
                                    href="https://www.visitgreece.gr/experiences/?Category=Gastronomy&Destination=Heraklion"
                                    target="_blank">GASTRONOMY</a>
                            </div>
                            <p class="card-text">Heraklion is the largest city of Crete and one of Greece’s major urban
                                centres. The city flourished under a multicultural influence throughout the centuries;
                                that’s why there is a plethora of Byzantine, Venetian and Ottoman structures to look out
                                for!
                                The city’s landmark is the 16th c. Koules fortress in</p>
                            <a href="https://www.visitgreece.gr/islands/crete/irakleio/" target="_blank"
                                class="btn btn-info" style="border-radius: 20px;">EXPLORE</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-6 animated slide-in from-right">
                    <div class="card">
                        <img src="../../assets/img/crete_agios_nikolaos.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h1 class="card-title">Agios Nikolaos</h1>
                            <div class="container-hashtags">
                                <a class="card-hashtag" style="background-color: #70ba8e;"
                                    href="https://www.visitgreece.gr/experiences/?Category=Nature&Destination=Agios%20Nikolaos"
                                    target="_blank">NATURE</a>
                            </div>
                            <p class="card-text">Agios Nikolaos (“Ag Nik” as the British visitors love to call it) is
                                the
                                capital town of Lassithi. Here, the bottomless salt lake Voulismeni dominates the area.
                                A
                                narrow channel of water connects the lake with the sea, while an imposing backdrop of
                                red
                                rock and trees adds to the natural beauty of the scenery. A</p>
                            <a href="https://www.visitgreece.gr/islands/crete/agios-nikolaos/" target="_blank"
                                class="btn btn-md btn-info" style="border-radius: 20px;">EXPLORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parent-container">
        <div class="container header-center-container">
            <h1>10 reasons to fall in love with Crete</h1>
        </div>
        <div class="details-container">
            <p>
                The biggest island of Greece is a charming place where visitors can enjoy their trip in the way they
                have
                imagined it. Here are 10 reasons why Crete is worth visiting; once you get there though, expect to
                discover
                many more!
            </p>
            <p class="fade-in">
                <span class="reason-header">1. Civilisation & Culture</span><br>
                <span>Its strategic location on the map has turned the island of Crete into a crossroads where peoples
                    and
                    civilisations have left a permanent mark on, along with a rich cultural heritage. Across the ages,
                    Minoans, Mycenaeans, Ottoman Turks, Arabs and Venetians have shaped the island’s identity.
                    Discover Crete’s eventful history that spans fifty-odd centuries: the Minoan palaces at Knossos,
                    Phaestos, Malia and Zakros; the archaeological sites of ancient Gortyna, Eleftherna, Lyttos, Aptera,
                    Falasarna, Spinalonga; the Venetian harbours at Chania, Heraklion and Rethymno towns; the ottoman
                    monuments and architectural structures seen across the island; the historic monasteries of Arkadi,
                    Preveli, Toplou, Agarathou, and Chrysoskalitissa; numerous thematic museums – the Heraklion
                    Archaeological Museum is among the most significant in Europe.</span>
            </p>
            <p class="fade-in">
                <span class="reason-header">2. Old Towns</span><br>
                <span [ngStyle]="{'color': hideInfoDetails ? 'rgb(81, 80, 80)' : 'rgb(155, 155, 155)'}">The old towns of
                    Chania and Rethymno share a fascinating combination of Venetian and Ottoman</span>
                <span [hidden]="hideInfoDetails">architectural elements. They are well-known, charming, and
                    much-photographed with an ambience reminiscent of times gone by. Stroll along their narrow alleys
                    and
                    streets, stop by and have a coffee, snack or meal in the traditional cafes and tavernas; the magical
                    patina of old times is everywhere.</span>
            </p>
            <p [hidden]="hideInfoDetails" class="fade-in">
                <span class="reason-header">3. Traditional Villages</span><br>
                <span>They are mountain villages, mostly. Old customs and traditions are kept unchanged here and they
                    unveil
                    aspects of the true Cretan culture. Visit Archanes, Zaros and Asites in Heraklion region, Vamos and
                    Chora Sfakion in Chania region, Anogeia, Axos and Margarites in Rethymno region, Makrygialos and
                    Kritsa
                    in Lasithi region. This is the ‘heart’ of traditional Crete.</span>
            </p>
            <p [hidden]="hideInfoDetails" class="fade-in">
                <span class="reason-header">4. Seaside Tourist Resorts</span><br>
                <span>Luxury resorts and lodgings of all types can be found along the seafront. Big towns such as
                    Heraklion,
                    Chania, Rethymno, Agios Nikolaos, Siteia and Ierapetra are not the only destinations that can offer
                    you
                    a vacation to remember: visit also Agia Pelagia, Amnissos, Kaloi Limenes, Chani Kokkini, Malia and
                    Ammoudara (Heraklion region); Platania, Agia Marina, Kolympari, Agia Roumeli, Loutro, Palaiochora
                    and
                    Kissamos in Chania region; Georgioupoli, Bali, Plakia, Agios Pavlos, Panormos in Rethymno region;
                    Elounta, Plaka, Makrygialos, Koutsounari, Agia Fotia in Lasithi region.</span>
            </p>
            <p [hidden]="hideInfoDetails" class="fade-in">
                <span class="reason-header">5. Gastronomy</span><br>
                <span>The essence of the Cretan cuisine can be described in the following words: “prefer the products of
                    your land”. The way locals make use of their land’s rich produce is remarkable. The wide variety of
                    seasonal fruits and vegetables, legumes, wild edible greens and fragrant herbs are combined with
                    tasty
                    goat and sheep meat: the outcome is a number of particularly tasty dishes that don’t come up
                    anywhere
                    else in Greece. The local cheese list is also quite impressive; on the top you will find the popular
                    Cretan graviera (a type of hard cheese) which is a PDO cheese.</span>
            </p>
            <p [hidden]="hideInfoDetails" class="fade-in">
                <span class="reason-header">6. Beaches</span><br>
                <span>The island’s endless coastline features numerous beaches, most of which are sandy. Balos,
                    Falasarna
                    and Elafonisi are three beaches of great beauty in the region of Chania. Within a short distance
                    from
                    Heraklion you will find Amnissos, Agia Pelagia, Kaloi Limenes, Malia, Limenas Chersonisou, Ammoudara
                    beaches. Don’t miss out on visiting Matala beach known since the sixties and seventies as a hotspot
                    for
                    hippies who travelled there from all over the world.
                    In Rethymno you will find the longest sandy beaches (Episkopi, Petres) and a number of quite unusual
                    beaches (Triopetra, Agios Pavlos, Ligres, Fragokastelo, Preveli). The area of Lasithi is well-known
                    for
                    its picturesque shores that are washed by the Libyan Sea, as well as for cosmopolitan Elounta
                    beach.</span>
            </p>
            <p [hidden]="hideInfoDetails" class="fade-in">
                <span class="reason-header">7. Nature’s Amazing Creations</span><br>
                <span>The terrain’s morphological diversity is remarkable and it offers hard-to-ignore opportunities to
                    daring explorers and nature lovers for extensive tours of the countryside. High mountains with
                    rugged
                    peaks, caves and ravines, fertile plateaus and valleys, rare cedar forests and water habitats are
                    the
                    pieces that make up the lovely and diverse Cretan land. Make a note of visiting Mt. Psiloritis (or
                    Psiloritis) Natural Park and Siteia (or Sitia) Natural Park - both are UNESCO Global Geoparks,
                    discover
                    caves celebrated in ancient Greek mythology such as Idaion Antron, Diktaion Antron, Melidoni and
                    Sfendoni, hike along Samaria gorge, enjoy a ramble in Vai palm forest, Lakes Kourna & Preveli, as
                    well
                    as on Lasithi and Nida plateaus.</span>
            </p>
            <p [hidden]="hideInfoDetails" class="fade-in">
                <span class="reason-header">8. Activities</span><br>
                <span>Crete is an island that can offer many a thrill to action-loving travellers by the sea or on the
                    mountain. Hike through its ravines, enjoy your off-road rides in the mainland, follow the trekking
                    routes – the landscapes crossed by the E4 European trail are amazing; enjoy water sports activities
                    such
                    as sailing, diving, sea kayaking and windsurfing.</span>
            </p>
            <p [hidden]="hideInfoDetails" class="fade-in">
                <span class="reason-header">9. Paradise Islands</span><br>
                <span>Visit Gavdos islet, the southernmost tip of Europe; swim by heavenly beaches such as Sarakiniko,
                    Ai
                    Giannis, Pyrgos, Potamos, Trypiti; discover cedar woods that reach the seashore and well-tended
                    trails
                    that lead to the few island villages. In the summertime the place is a popular camping spot. There
                    is a
                    boat connection with Palaiochora, Sougia and Chora Sfakion.
                    Chrysi or Pontikonisi islet (8 miles south of Ierapetra) is a feast for the eyes, what with its
                    turquoise waters, the off-white sands enriched with the hues of broken seashells, and the huge
                    seaside
                    cedars rooted in the sand dunes. Every day hundreds of visitors come to the island for a day trip
                    aboard
                    the tourist boats from Ierapetra. Chrysi islet has been designated a Natura 2000 area and it is
                    strictly
                    forbidden to camp and spend the night there.
                    Koufonisi, Siteia (or Lefki islet) is a place that few people know. There are caves shaped in the
                    limestone rocks that contain vestiges of significant antiquities. The sandy beaches and natural
                    serenity
                    is what makes this islet a paradise - one that only locals are aware of; they usually take a trip
                    there
                    using their own boats. There is however a small boat that will take you from Makrygialos to
                    Koufonisi.
                    This islet is a pristine area with no facilities of any kind, so make sure you carry the essentials
                    for
                    your trip with you.</span>
            </p>
            <p [hidden]="hideInfoDetails" class="fade-in">
                <span class="reason-header">10. A Natural Way of Life</span><br>
                <span>The Cretans are proud and affable people. They are, after all, the descendants of Cretan-born Zeus
                    the
                    god of hospitality and father of all ancient Greek gods. And they know how to offer hospitality to
                    strangers in their parts. Their profound love for their homeland and their adherence to traditional
                    ways
                    and customs have shaped a special culture and a way of life that is absolutely worth discovering.
                    And if
                    you happen to be invited to a Cretan feast, you will feel what it’s like to have fun - the way
                    locals
                    do. You will savour tasty titbits and dishes, and you’ll be called to join in the folk dances; you
                    will
                    listen to mantinades (songs with words improvised and sung on the spot) and rizitika songs.
                    Have a great time – the Cretan way!</span>
            </p>
            <button class="btn btn-outline-info" (click)="onShowMoreDetails()" [hidden]="!hideInfoDetails">SHOW MORE <i
                    class="bi bi-caret-down-fill" style="padding-left:4px"></i></button>
            <button class="btn btn-outline-info" (click)="onShowMoreDetails()" [hidden]="hideInfoDetails">SHOW LESS <i
                    class="bi bi-caret-up-fill" style="padding-left:4px"></i></button>
        </div>
    </div>

    <div class="parent-container">
        <div class="fade-in" style="margin:2px 1rem;padding:20px;background-color:white">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h1 style="color:black;">Flavours <span
                            style="color:rgb(74, 74, 74);font-family: 'Raleway', sans-serif;"> | from Crete</span></h1>
                    <a class="btn btn-dark btn-lg" style="font-family: 'Raleway', sans-serif;"
                        href="https://www.visitgreece.gr/gastronomy/?regionID=8" target="_blank">DISCOVER THEM</a>
                </div>
                <div class="col-sm-12 col-md-6 align-center-sm-mg-top" style="text-align: right;">
                    <img src="../../assets/img/crete_food.jpg" style="max-height:100px">
                </div>
            </div>
        </div>
    </div>

    <div class="bg">
        <div style="padding-top:4rem;padding-bottom:4rem;text-align: center;">
            <h1 style="font-family: 'Raleway', sans-serif;">Discover Crete with us</h1>
        </div>
    </div>
</div>